* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    overflow-x: hidden;
    background: url(../images/c.jpg) repeat;
}

.img {
    z-index: 1;
    width: 150px;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.continue a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

div.continue {
    background: #C65D7B;
    position: absolute;
    padding: 15px 30px;
    border-radius: 15px;
    top: 670px;
}

.calendar {
    width: 45rem;
    height: 52rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    top: 100px;
    position: absolute;
}

.month {
    width: 100%;
    height: 12rem;
    background-color: #C65D7B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #F68989;
}

.reservedates {
    background-color: red;
}

/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    .calendar {
        width: 30rem;
        height: 635px;
        background-color: #222227;
        box-shadow: 0 0.5rem 3rem rgb(0 0 0 / 40%);
        top: 100px;
        position: absolute;
        margin: 35px auto;
    }
    div.continue {
        background: #C65D7B;
        padding: 15px 30px;
        border-radius: 15px;
        top: 363px;
        position: relative;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width:601px) and (max-width: 767px) {
    
}


/* Medium devices (landscape tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  
}


/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) and (max-width: 1199px) {

}