* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;    
    scroll-behavior: smooth;
}

body{
    margin:0;
	color:#874356;
    height: 160vh;
    background: linear-gradient(90deg, #F68989, #C65D7B ), url(../images/c.jpg) repeat;
    background-blend-mode: screen;
}

.img {
    z-index: 1;
    width: 12%;
}

.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
    justify-content: center;
}
.card-img{
    background: url("../images/image2.jpg") center/cover no-repeat;
}
h2{
    text-align: center;
    width: 360px;
    transform: translate(-50%, 0);
    background-color: #874356;
    margin: 20px 50%;
    color: #f6e7d8;
    padding: 11px 30px;
    border-radius: 30px;
    display: inline-block;
}
.card-content{
    background: #f6e7d8;
    height: 550px;
}
.card-content h3{
    text-align: center;
    color: #f68989;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}

   
    

form input[type = text], form input[type = number], input [type = date] ,form input::placeholder, select{
    color: #9a9a9a;

}
form input[type = submit]{
    color: #fff;
    background: #f68989;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}